{% extends "base.html.twig" %}

{% block title %}Choix de l'annonce{% endblock %}

{% block body %}

    <h1>Choix du type d'annonce</h1>

    <a href="{{path('create_advert')}}">Je veux me faire livrer</a>
    <a href="{{path('offer_creation')}}">Je propose de livrer</a>

{% endblock %}