{% extends "base.html.twig" %}

{% block title %}Choix de l'annonce{% endblock %}

{% block body %}

    <div class="floating-group">
        <h1 >Choix du type d'annonce</h1>
        <section class="global__container">
            <a href="{{path('createAdvert')}}"><button class="btn btn--m">Me faire livrer</button></a>
            <a href="{{path('offerCreation')}}"><button class="btn">Livrer</button></a>
        </section>
    </div>
    
{% endblock %}