{% extends "base.html.twig" %}

{% block title %}Choix de l'action{% endblock %}

{% block body %}

    <h1>Choix de l'action</h1>

    <a href="{{path('createAdvert')}}">J'ai besoin d'aide</a>
    <a href="{{path('offerCreation')}}">Je propose une course</a>

{% endblock %}