{% extends "base.html.twig" %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <h1>Mot de passe oublié</h1>

    <section class="global__container global__container--column">
        <article class="form__container">
            {{form_start(form)}}
            {{form_row(form.email, {'label':'Indiquez votre adresse mail' , 'attr': {'placeholder': 'adresse@mail.fr'}})}}
            <button class="btn btn--card" type="submit">Envoyer</button>
            {{form_end(form)}}
        </article>
    </section>

{% endblock %}