{% extends "base.html.twig" %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}

    <h1>Réinitialiser le mot de passe</h1>

    <section class="global__container global__container--column">
        <article class="form__container">
            {{form_start(form)}}
            {{form_row(form.password, {'label':'Entrez votre nouveau mot de passe', 'attr':{'placeholder':'Nouveau mot de passe'}})}}
            {{form_row(form.confirm_password, {'label':'Répétez le mot de passe', 'attr':{'placeholder':'Répéter le mot de passe'}})}}
            <button class="btn btn--card" type="submit">Réinitialiser le mot de passe</button>
            {{form_end(form)}}
        </article>
    </section>

{% endblock %}