{% extends "base.html.twig" %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}

    <div class="sm-section">
        <h1 clas="block color-primary">Réinitialiser le mot de passe</h1>
        <article>

            {{form_start(form, { 'attr' : { 'class' : 'form'}})}}
            <div class="col-12">
                {{form_row(form.password, {'label':'Entrez votre nouveau mot de passe', 'attr':{'placeholder':'Nouveau mot de passe'}})}}
            </div>
            <div class="col-12">
                {{form_row(form.confirm_password, {'label':'Répétez le mot de passe', 'attr':{'placeholder':'Répétez le mot de passe'}})}}
            </div>
            <button class="btn btn--card" type="submit">Réinitialiser le mot de passe</button>
            {{form_end(form)}}

        </article>
    </div>

{% endblock %}