{% extends "base.html.twig" %}

{% block title %}Signaler un comportement{% endblock %}

{% block body %}

    <h1>Signaler un comportement</h1>

    <section class="global__container global__container--column">
        <article class="form__container">
            {{form_start(form)}}
            {{form_row(form.content, {'label':'Donnez-nous des précisions sur le comportement à signaler'})}}
             <button type="submit" class="btn btn--center-form">Envoyer</button>
            {{form_end(form)}}
        </article>
    </section>


{% endblock %}