{% extends "base.html.twig" %}

{% block title %}Politiques de confidentialité - Comptoir des Voisins{% endblock %}

{% block body %}

    <h1>Nos politiques de confidentialité</h1>

    <div class="container-long-p">
        <p>Date de la dernière mise à jour : 16/05/2020
        </br></br>
        Comptoir des Voisins (ci-après dénommé “plateforme”, “Comptoir Des Voisins”, “site”) est une plateforme développée par un groupe d’étudiant en informatique, graphisme et multimédia (ci-après dénommé “Nous”,”nous”). Nous développons ce projet car il nous tient à coeur, mais nous ne sommes pas une structure professionnelle. Comptoir des Voisins est une plateforme en version d’essai, nous ne pouvons garantir une maintenance professionnelle de la plateforme, mais nous nous engageons à maintenir cette plateforme, à la protéger du mieux possible. 

        Soucieux de l’impact et l’importance des données personnelles dans le monde numérique, nous veillons à protéger du mieux possible les données de nos utilisateurs (ci-après dénommé “Utilisateurs”, “Utilisateur”, “utilisateur”, “utilisateurs”, “Vous”, “vous”). Le présent document “Politique de confidentialité” s’applique à l’ensemble de nos utilisateurs. Ce document a pour objet de vous indiquer comment nous utilisons vos données personnelles à travers les différentes fonctionnalité de notre site. Dès lors que vous cliquez sur un lien présent sur notre site qui vous amène sur un autre site, la présente politique de confidentialité ne s’applique plus. Nous nous réservons le droit de modifier cette politique de confidentialité. Nous nous engageons à vous prévenir dès lors qu’un changement intervient. Vous pouvez voir tout en haut de ce document la date de mise à jour, vous indiquant depuis quand date nos derniers changements.
        </p>

        <h2>1 - Particularité pour les mineurs</h2>
        <p>Pour utiliser les services de Comptoir des Voisins, ses fonctionnalité et la plateforme, l’utilisateur doit être agé d’au moins 18 ans. 
        </br>
        Pour vérifier que nos utilisateurs sont majeurs, au moment de l’inscription, ils devront certifier qu’ils sont au moins âgés de 18 ans.
        </p>

        <h2>2 - Liste des informations recueillies</h2>
        <p>Comme expliqué précédemment, en utilisant notre site internet, vous êtes susceptible de nous transmettre des informations, dont certaines sont de nature à vous identifier. C’est notamment le cas lorsque vous remplissez des formulaires (comme par exemple le formulaire d’inscription).
        </br>
        2.1 - Le premier service par lequel vous êtes obligé de passer si vous voulez utiliser notre plateforme est le formulaire d’inscription. Lors de votre inscription, nous récupérons et stockons dans nos bases de données votre adresse mail, votre prénom, votre ville d’habitation, votre numéro de téléphone, votre mot de passe. Toutes ces informations sont essentielles pour utiliser notre site. A défaut, Comptoir des Voisins ne sera pas en mesure de vous fournir ses services et vous ne serez pas autorisés à vous inscrire sur notre site. Seul, une donnée est facultative lors de l’inscription, il s’agit de la photo de profil, libre à vous de décider si vous nous transmettez cette donnée. 
        </br>
        2.2 - En dehors de l’inscription, vous aurez l’occasion de rentrer d’autres informations que nous stockerons. C’est notamment le cas quand vous créez une demande. Nous stockons dans nos bases de données votre message et la ville où vous désirez vous faire livrer (souvent votre ville d’habitation). 
        </br>
        2.3 - Il en est de même lors de la création où l’édition d’une course (ci-après dénommé “course ”, “proposition”), où nous stockons votre message ainsi que la ville où vous livrez. Nous récoltons d’autres données, comme par exemple le nombre de personnes que vous prenez en charge, mais ces données ne sont pas sensibles.
        </br>
        En résumé, nous récupérons vos données lorsque vous utilisez les services disponibles sur le site suivant : 
        </br>
        </br>
        Création d’un compte
        Création/Édition d’une course
        Création/Édition d’une demande
        </br>
        Quelque soit les services que vous utilisez, nous exploitons et utilisons que les données qui sont seulement essentielles au bon fonctionnement de nos services. 
        </br>
        Les données personnelles collectés varie légèrement d’un utilisateur à un autre suivant les fonctionnalités que vous utilisez. 
        </p>

        <h2>3 - Les données que nous recueillons automatiquement</h2>
        <p>3.1 - Lors de chacune de vos visites, nous sommes susceptibles de récupérer, conformément à la législation applicable et avec votre accord, le cas échéant, des informations concernant votre parcours de navigation sur notre plateforme, notamment votre parcours sur les différentes pages URL de nos services,le contenu auquel vous accédez ou que vous consultez, les termes de recherches utilisés, les erreurs de téléchargement, la durée de consultation de certaines pages et les interactions avec la page.</p>

        <h2>4 - Durée de conservation de vos données</h2>
        <p>
        4.1 - À l’exception des catégories de données personnelles visées dans la section
        </br>
        4.2 ci-dessous, vos données personnelles sont archivées à l’issue des périodes
        suivantes :
        - 5 ans après votre dernière utilisation de nos services, si vous n’avez pas fermé votre compte;
        - 1 an après la fermeture de votre compte, sauf si vous avez reçu un avis négatif ou un signalement, auquel cas vos données sont conservées pendant 2 ans suivant le dernier avis négatif ou signalement reçu si cette durée est plus longue.
        </br>
        4.2 - Tout contenu créé par l’utilisateur sur notre site à une durée de conservation différente. S’il s’agit d’une course, elle sera conservée jusqu’à un jour après la date de livraison indiquée. S’il s’agit d’une demande, elle sera supprimée par vous uniquement. Autrement, cette donnée reste stockée dans nos bases de données indéfiniment.
        </br>
        4.3 - Dans l’hypothèse où votre compte a été suspendu ou bloqué, nous conservons
        vos données pour une durée variant de 2 à 10 ans à compter de la suspension afin
        d’éviter tout contournement de votre part des règles en vigueur sur nos services.
        </p>

        <h2>5 - Utilisation de vos données personnelles</h2>
        <p>
        Vos données personnelles sont essentielles pour pouvoir organiser la vie du site, les rencontres entre différents utilisateurs. 
        </br>
        Pourquoi et comment nous utilisons les informations que vous nous transmettez :
        </br>
        5.1 - Votre email et votre mot de passe sont nécessaires à la connexion sur la plateforme. Pour vous connecter, nous regardons si les données rentrées correspondent à des données stockées en base de donnée, si tel est le cas vous êtes connecté. 
        </br>
        5.2 - Dès que l’utilisateur créer une course ou une annonce, les données personnelles associés à ces créations deviennent public (message, ville où vous habitez). De même des informations de l’utilisateur sont implémentées dans ses créations. C’est notamment le cas de son prénom et de sa photo de profil. S’il n’y a pas de photo de profil, une icône prendra la place initialement prévue pour la photo de profil. Nous affichons ces données simplement pour que votre futur “livreur”/”contact”/”voisin”, puisse vous identifier et que ces créations ne soient pas anonymes. 
        </br>
        5.3 - Dès lors que l’utilisateur décide de livrer un autre utilisateur ou de se faire livrer, nous mettons au “livreur” et au “livré” à disposition le numéro de téléphone de son homologue. C’est le seul moyen possible pour que les deux utilisateurs puissent communiquer. Seul et uniquement seulement ces deux personnes rentrées en contact peuvent voir cette information sensible. 
        </br>
        5.4 - Organiser nos plateformes et effectuer des opérations techniques internes dans le cadre de résolution de problèmes, analyse de données, de tests, recherches, analyses, études et sondages, afin de d’assurer la sécurité et l’efficacité de nos services.
        </br>
        5.5 - Permettre une utilisation fluide et pratique de notre site web et application, via l’optimisation et l’étude de vos besoins.
        </br>
        5.6 - Nous aider à la conservation d’un environnement sécurisé et sain sur nos services.
        </p>
        </br>

        <h2>6 - Qui est susceptible d'utiliser vos informations personnelles ?</h2>
        <p>Afin de permettre l’utilisation de nos services, certaines de vos informations sont transmises aux autres membres de notre communauté dans le cadre du processus de livraison (par exemple la ville où vous souhaitez vous faire livrer). Certaines sont publiques comme expliqué dans la section 4.2, d’autres sont réservées à l’utilisateur qui soit voudra bien livrer soit qui acceptera de se faire livrer par quelqu’un d’autre (voir article 4.3). 
        </br>
        Pour être clair, lorsque vous créez une course ou une demande d’aide, vous acceptez que votre photo de profil, votre prénom, votre message (de l’annonce), la ville où vous voulez vous faire livrer deviennent publics. Dans le même temps, vous acceptez de partager votre numéro de téléphone à votre futur homologue. 
        Votre futur homologue désigne l’utilisateur avec qui vous serez en contact lors d’un échange.
        </br>
        Nous ne vendons pas vos données personnelles, personne n’y a accès en dehors de l’utilisation normale de nos services et dans les cas expliqués ci-dessus. Vos données personnelles ne sont pas non plus utilisées à des fins publicitaires. 
        </p>

        <h2>7 - Quels sont vos droits sur vos données personnelles ?</h2>
        <p>7.1 - Vous disposez du droit de recevoir une copie de vos Données Personnelles en notre possession (« droit d’accès »). 
        </br>
        7.2 - Vous pouvez également demander l’effacement de vos Données Personnelles ainsi que la rectification des Données Personnelles erronées ou obsolètes (« droit d’effacement et droit de rectification »). Veuillez noter que nous sommes susceptibles de conserver certaines informations vous concernant lorsque la loi nous l’impose ou lorsque nous avons un motif légitime de le faire. C’est par exemple le cas, si nous estimons que vous avez commis une fraude ou violé nos Conditions Générales d’Utilisation et que nous souhaitons éviter que vous contourniez les règles applicables à notre communauté.
        </br>
        7.3 - Vous disposez également du droit de vous opposer à tout moment pour des rai-
        sons tenant à sa situation particulière, au traitement de vos données personnelles à des fins de marketing direct ou aux traitements effectués sur le fondement de notre
        intérêt légitime (« droit d’opposition »).
        </br>
        7.4 - Vous disposez du droit de limiter les traitements effectués sur vos données personnelles (« droit à la limitation »). Veuillez noter que ce droit ne s’applique que si
        vous contestez l’exactitude de vos données personnelles pendant la durée nous
        permettant de vérifier l’exactitude de ces dernières; en cas de traitement illicite de
        notre part et que vous exigez une limitation de leur utilisation plutôt qu’un effacement, nous n’avons plus besoin des données à caractère personnel aux fins du traitement mais celles-ci vous sont encore nécessaires pour la constatation, l’exercice ou la défense de droits en justice; en cas d’exercice de votre droit d’opposition pendant la durée de vérification portant sur le point de savoir si les motifs légitimes que nous poursuivons prévalent les votre.
        </br>
        7.5 - Vous disposez du droit d’introduire une réclamation auprès de l’autorité de contrôle compétente ou d’obtenir réparation auprès des tribunaux compétents si vous considérez nous n’avons pas respecté vos droits.
        </br>
        7.6 - Vous disposez également du droit à la portabilité de vos données, c’est-à-dire au droit de recevoir les données personnelles que vous nous avez fournis dans un
        format structuré, couramment utilisé et lisible par la machine et le droit de transmettre ces données à un autre responsable du traitement (« droit à la portabilité»).
        </br>
        7.7 - Vous disposez également du droit de définir des directives relatives au sort de vos Données Personnelles après votre mort.
        </br>
        7.8 - Pour exercer ces droits, vous pouvez contacter notre délégué à la Protection des données personnelles selon les modalités définies à l’article 10 ci-dessous.
        </br>
        Vous pouvez exercer vos droits en nous contactant à l’adresse ci-dessous :
        comptoirdesvoisins@gmail.com
        </p>

        <h2>8 - Protecteur des données :</h2>
        <p>Afin de répondre aux normes imposée par le règlement Européen. Nous avons nommé un délégué à la protection des données. Pour toutes questions relatives à la protection des données personnelles au sein de la plateforme Comptoir des Voisins, nous vous invitons à nous contacter à l’adresse mail suivante :
        nat.manar@gmail.com
        </p>

        <h2>9 - Mesures misent en place pour vous protéger et protéger vos données</h2>
        <p>9.1 - Nous ne prenons pas votre adresse de livraison en entier, simplement votre ville pour classer nos informations et pour que nos utilisateurs puissent les classer. Nous laissons aux utilisateurs qui entrent en contact par le biais des courses ou des annonces, la liberté de se communiquer leur adresse personnelle. Nous vous déconseillons de donner d’autres informations personnelles, privilégiez l’essentiel avec votre homologue.
        </br>
        9.2 - Le mot de passe des utilisateurs est chiffré dans nos bases de données.
        </br>
        9.3 - L’accès aux données sensibles est très limité.
        </p>
        
        <h2>10 - Modification de la présente politique de confidentialité </h2>
        <p>
        Nous nous réservons le droit de modifier à tout moment ce document. La plateforme pouvant changer très rapidement, très souvent à daté du 03/05/2020 et ce jusqu’à une date non définie. 
        </br>
        Comme expliqué dans l’introduction de ce document, nous vous préviendrons dès qu’un changement apparaîtra. Notre moyen privilégié pour communiquer avec vous sera les notifications. Elles sont disponibles dans votre compte et dans la partie “Notifications”.
        </br>
        Nous vous encourageons donc, à consulter régulièrement nos politiques de confidentialité qui seront amenées à changer incessamment sous peu.
        </p>

        <h2>11 - Transparence</h2>
        <p>
        Comme expliqué précédemment, nous sommes un groupe d’étudiants passionnés, nous ne sommes pas des professionnels. Nous demandons à nos utilisateurs d'être bienveillant à notre égard et l’égard de la plateforme. Aussi, nous mettons un point d’honneur sur la volonté de vous protéger. C’est pourquoi, nous adoptons les mesures de transparences indiquées ci-dessous :
        </br>        
        11.1 - En cas de faille de sécurité vous concernant nous vous préviendrons le plus rapidement possible par email. 
        </br>
        11.2 - Nous sommes là, pour améliorer continuellement la plateforme, nous mettons à votre disposition l’adresse mail indiquée dans la section “Contact”. Si vous avez des recommandations, peu importe le domaine, contactez-nous !
        </br>
        11.3 - Nous ne garantissons pas une sécurité infaillible ! Nous travaillons continuellement pour faire de la présente plateforme, une plateforme sécuritaire.
        </p>

        <h2>12 - Contact</h2>
        <p>En cas de question, nous vous invitons à nous contacter sur notre adresse mail :
        comptoirdesvoisins@gmail.com</p>
   </div>
{% endblock %}