{% extends "base.html.twig" %}

{% block title %}Mail envoyé{% endblock %}

{% block body %}

    <h1>Mail envoyé</h1>
    
    <section class="global__container global__container--column">
        <article class="form__container">
            <p>Un mail vient d'être envoyé, suivez les instructions pour réinitialiser votre mot de passe</p>
        </article>
    </section>

{% endblock %}