{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="heading">SE CONNECTER</h1>
        <form action="{{path('login')}}" method="post">
            <fieldset>
                <label class="adjust" for="_username">Mail</label>
                <input class="input-inscri adjust" type="text" name="_username" placeholder="votreadressemail@mail.com">
            
            
                <label class="adjust" for="_password">Mot de passe</label>
                <input class="input-inscri adjust" type="password" name="_password">
            
                <span><a class="dechet" href="{{path('forgotten_password')}}">Mot de passe oublié ?</a></span>
                
                <div class="btn-container">
                    <button type="submit" class="btn btn-success">Se connecter</button>
                </div>
            </fieldset>
        </form>
        <a class="dechet" href="{{path('registration')}}">S'inscrire</a>
    </div>
{% endblock %}