{% extends "base.html.twig" %}

{% block title %}Comportement signalé{% endblock %}

{% block body %}

    <h1>Nous accusons bonne réception de votre signalement</h1>

    <p>Votre signalement sera traité par nos équipes dans les plus bref délais.</p>

    
{% endblock %}