{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}

{% block body %}

<div class="container-calendar">
    <h2 class="title-calendar">Mon Agenda</h2>
    <div id="calendar"></div>
</div>


{% endblock %}