{% extends "baseAdministrateur.html.twig" %}

{% block title %}Signalements CDV{% endblock %}

{% block body %}

    <h1>Signalements CDV</h1>

    <table>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{report.id}}</td>
                <td>{{report.user.name}}</td>
                <td>{{report.content}}</td>
                <td>{{report.target.name}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}