{% extends "base.html.twig" %}

{% block title %}CGU - Comptoir des Voisins{% endblock %}

{% block body %}

    <h1>Nos Conditions Générales d'Utilisation</h1>
    
    <div class="container-long-p">
        <p>Comptoir des Voisins est tenu par un groupe d’étudiant en informatique, graphisme et multimédia. Nous ne sommes pas une structure professionnelle, nous ne sommes pas déclarés et notre identité ne nous est pas réservée pour le moment.</p>

        <h2>1 - Acceptation et modification des Conditions Générales d’Utilisation</h2>
        <p>Les présentes Conditions Générales d’Utilisation (‘CGU’) sont soumises au droit français. Elles ont vocation à régir l’utilisation du site web “Comptoir des Voisins”, à réglementer l’utilisation et l’accès à notre plateforme. En utilisant notre plateforme, vous emportez sans réserve votre acceptation des présentes CGU et vous garantissez avoir les droits et les autorisations nécessaires pour accepter ces CGU. Les CGU peuvent être modifiées à tout moment et vous serez informé pour accepter nos modifications. En cas de refus, vous ne pourrez plus utiliser l’ensemble des services de Comptoir Des Voisins. Il est de votre responsabilité de vérifier si le pays duquel vous utilisez nos services autorise ou non l’utilisation de notre plateforme. En cas d’interdiction, vous êtes le seul responsable de vos actes. </p>

        <h2>2 - Comptoir des voisins</h2>
        <p>Pour accéder à la totalité de nos services, vous devez vous créer un compte. Lors de l’inscription, vous indiquez un certains nombres d’informations que vous pourrez changer à tout moment dans la section “Mon compte”. Pour vous connecter vous devez utiliser un mot de passe contenant au minimum 8 caractères, une majuscule, une minuscule et un chiffre. Votre mot de passe est chiffré et nous prenons les précautions nécessaires pour que votre compte soit le mieux sécurisé possible. En revanche, il est de votre responsabilité de ne pas utiliser le même mot de passe que votre boite mail, de le changer régulièrement et de ne le divulguer à personne. Nous ne serons pas responsable en cas de problème, de vol de votre mot de passe. En cas de problème, n’hésitez pas à nous contacter à l’adresse mail suivante :
        </br>comptoirdesvoisins@gmail.com
        En cas de non-respect de votre part à l’égard des présentes CGU, nous nous accordons le droit de vous refuser l’accès à nos services et de garder vos données pour une durée entre 2 à 10 ans.
        </p>

        <h2>3 - Maintenance de la plateforme</h2>
        <p>La plateforme et les services associés sont censés être libre d’accès en permanence. Cependant, pour des raisons de maintenance, il est possible que l’accès au site ne soit pas possible temporairement. Nous ne serions être tenu responsable en cas d’interruption partielle ou majeure de vos actions sur le site. Cela peut se traduire notamment par une non sauvegarde des actions effectuées au sein de la plateforme.</p>

        <h2>4 - Comptoir des Voisins</h2>
        <p>L’équipe Comptoir Des Voisins vous concède, une licence personnelle pour utiliser la présente plateforme sous condition d’accepter nos CGU. Vous n’êtes pas autorisés à copier, distribuer, vendre ou louer les services composant les services de notre plateforme. Vous n’êtes pas autorisés à copier le code source non plus.</p>

        <h2>5 - Comportements et contenu </h2>
        <p>
        Vous êtes autorisés à produire, diffuser, publier certains contenus de Comptoir Des Voisins. Vous êtes autorisés à publier des liens hypertextes vers les pages publiques de notre plateforme (les pages figurant dans le menu principal), vous n’êtes pas autorisé à partager des liens vers des pages non-publiques qui ne vous concernent pas. Vous êtes autorisé à diffuser notre logo sans pour autant vous l’approprier. 
        </br>
        Vous avez l’interdiction formelle, de divulguer des informations liées à un autre utilisateur de la plateforme. Nous pouvons faire exception de la règle précédente si cet utilisateur vous donne son consentement quant à la diffusion d’information le concernant. 
        </br>
        Vous êtes libre de créer du contenu dans la limite de leur but. Par exemple, vous n’êtes pas autorisé à créer une demande d’aide qui n’en est pas une. Nous favorisons l’échange entre nos utilisateurs, mais nous ne tolérerons aucune insulte, aucun propos vulgaire, racistes, discriminant ou autres qui pourraient nous être rapportés. 
        </br>
        En cas de violation de ces règles, nous supprimerons votre annonce et pourrons prendre des sanctions à votre égard (bannissement de la plateforme). Si un acte nous semble grave, nous pourrons mener des actions en justice. 
        </br>
        Enfin, nous mettons en relation les utilisateurs, mais nous ne sommes en aucun cas responsables des actions qui se passent en dehors de la plateforme (livraison). En cas d’abus nous essaierons de régler les problèmes par des sanctions. Mais nous ne serons pas tenu responsable pour une livraison qui n’a pas eu lieu. Nous sommes une plateforme qui met en contact des voisins, nous ne sommes pas une plateforme de livraison.
        </br>
        En cas d’abus, contactez nous avec le formulaire disponible à l’adresse suivante :
        </br>
        https://compoirdesvoisins.fr/abus
        </br>
        ou à l’adresse mail suivante :
        </br>
        comptoirdesvoisins@gmail.com
        </p>
        </br>

        <h2>6 - Limite de responsabilité</h2>
        <h3>6.1 - Description des contenus </h3>
        <p>Nous ne sommes pas responsable des contenus publiés par nos utilisateurs sur la plateforme. Nous ne garantissons ni leur fiabilité, ni leur authenticité. </p>
        <h3>6.2 - Litiges entre utilisateurs </h3>
        <p>Nous ne sommes pas responsable des litiges qui peuvent survenir entre nos utilisateurs. Nous aidons à mettre en relation, à mettre en avant des personnes dans le besoin. Mais nous ne garantissons ni l’identité de la personne, ni ce qu’elle propose. Nous ne serons pas responsable en cas de demande ou d’offre non livrée. Nous vous invitons à échanger avec votre homologue pour en savoir plus sur lui. </p>

        <h2>7 - Données personnelles</h2>
        <p>Comme expliqué précédemment, nous collectons certaines de vos données personnelles (prénom, ville où vous habitez, email), ces données sont essentielles à la bonne utilisation de nos services. Vous pouvez également être amené à partager vos données personnelles, cela peut être notamment votre adresse précise. Nous ne sommes pas responsable des informations que vous transmettez ! Soyez vigilants, faites attention aux informations que vous transmettez. Ne transmettez pas d’informations sensibles ou à risques. 
        </br>
        Pour plus d’informations sur l’utilisation de vos données personnelles, nous vous invitons à consulter notre Politique de Confidentialité.
        </br>
        Cas de la mise en relation avec un autre utilisateur :
        </br>
        Lorsqu'une demande trouve un livreur ou qu’une course trouve des intéressés, nous transmettons le numéro de téléphone des 2 utilisateurs engagés à chacun. Vous acceptez cette démarche en acceptant les présentes CGU. Si vous n’êtes pas d’accord avec cette pratique nous vous encourageons à utiliser d’autres plateformes que la nôtre. De même, en cas d’exploitation, d’abus de messages, de spams sur le numéro de téléphone donné, nous ne sommes pas responsables ! Cependant, nous vous invitons à signaler cette personne.</p>

        <h2>8 - Propriété intellectuelle </h2>
        <h3>8.1 - Contenu publié par Comptoir Des Voisins</h3>
        <p>Comptoir des Voisins est le seul titulaire et détenteur de son image, de ces contenus (images, textes, logo, données, dessin, flyer). Ainsi, sauf sous autorisation préalable, il est formellement interdit et selon les droits de propriété intellectuelle liés à Comptoir des Voisins, d’utiliser ces contenus à des fins commerciaux et/ou professionnels.</p>
        <h3>8.2 - Contenu publié par les utilisateurs </h3>
        <p>
            A partir du moment où vous vous inscrivez sur la plateforme, vous acceptez que Comptoir des Voisins récupère vos données. Ces données seront utilisé afin de vous proposer la meilleure expérience possible.
            </br>
            Lorsque vous créez une course ou une demande, votre annonce devient publique, c’est à dire que tous les utilisateurs même ceux non authentifiés peuvent voir votre contenu. Les personnes non authentifiées ne pourront en revanche pas cliquer sur le bouton “en savoir plus” de votre annonce. ils ne pourront donc pas voir votre message. 
            </br>
            Votre contenu est public jusqu’au moment où :
            </br>

            - dans le cadre d’une création de demande, un utilisateur se désigne/propose pour vous livrer.
            </br>
            - dans le cadre d’une course, que la limite maximale de personne soit atteinte où que la date de la course soit déplacée.

            De plus, vous acceptez que Comptoir des Voisins retranscrive vos informations sur différents supports (site/application) lors des moments appropriés. 
        </p>
    </div>

{% endblock %}