{% extends 'base.html.twig' %}

{% block title %}Comptoir des Voisins{% endblock %}

{% block body %}
    <section class="main between-sec home">
        <h1 class="custom-font">Comptoir Des Voisins</h1>
        <h2 class="custom-font-secondary between-sec-color">Une plateforme basée sur le partage et la solidarité.</h2>
        {% if app.user %}
            <a href="{{path('adverts')}}" class="btn--center btn-main main-btn">Livrez</a>
        {% else %}
            <a href="{{path('login')}}" class="btn--center btn-main main-btn">Commencer</a>
        {% endif %}
    </section>
    {% if CGUToValidate %}
         {{ render(path('CGUValidation')) }}
    {% endif %}
 
{% endblock %}
